.loginScreen {
  background-color: #02020a;
  width: 100vw;
  height: 100vh;
}

.loginScreen__container {
  max-width: 1920px;
  background-image: url(61e92913fec3a342185e6b6bc3d35b3b.png);
  background-repeat: repeat-x;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px;
}
@media (max-width: 1109px) {
  .loginScreen__container {
    flex-direction: column;
    padding: 30px;
  }
}

.loginScreen__form {
  max-width: 667px;
  height: 228px;
  background: #f7fff7;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 56px;
  margin-left: 40px;
}
@media (max-width: 1109px) {
  .loginScreen__form {
    margin-left: 0;
    width: 95%;
  }
}

.loginScreen__right {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 40px;
}
@media (max-width: 1109px) {
  .loginScreen__right {
    margin-top: 30px;
    margin-right: 0;
  }
}
@media (max-width: 1109px) {
  .loginScreen__right img {
    display: none;
    height: 20vh;
  }
}

.loginScreen__button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  width: 282px;
  height: 94px;
  background: #0fa3b1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 33px;
  line-height: 48px;
  outline: none;
  border: none;
  color: #f8efef;
}
.loginScreen__button i {
  font-size: 62px;
  line-height: 71px;
}
.loginScreen__button:hover {
  background: #0b7882;
}

.loginScreen__buttonLogin {
  width: 131px;
  height: 61px;
  outline: none;
  border: none;
  background: #e96464;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  font-style: normal;
  font-weight: normal;
  font-size: 33px;
  color: #f8efef;
}
.loginScreen__buttonLogin:hover {
  background: #e33737;
}

.loginScreen__login {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  height: 300px;
  align-items: center;
  font-size: 40px;
  line-height: 58px;
}

.loginScreen__form_active {
  width: 98%;
  max-width: 667px;
  height: 828px;
  background: #f7fff7;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 56px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.loginScreen__form_active div img {
  margin-top: 40px;
  margin-bottom: 20px;
  max-width: 200px;
  border-radius: 10%;
}
@media (max-width: 1109px) {
  .loginScreen__form_active {
    margin-left: 0;
    width: 95%;
    padding: 5px;
  }
}
@media (max-width: 349px) {
  .loginScreen__form_active h1 {
    padding: 0 10px;
    font-size: 25px;
  }
}

.loginScreen__buttonLogout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 131px;
  height: 61px;
  border: none;
  background: #e96464;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  font-size: 33px;
  color: #f8efef;
  cursor: pointer;
}
.loginScreen__buttonLogout:hover {
  background: #e33737;
}

.google-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-top: 40px;
  width: 300px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease;
}
@media (max-width: 349px) {
  .google-btn {
    width: 70%;
    display: flex;
    justify-content: center;
  }
}
.google-btn .google-icon-wrapper {
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-btn .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
.google-btn .btn-text {
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.2px;
  margin-right: 80px;
}
@media (max-width: 349px) {
  .google-btn .btn-text {
    display: none;
  }
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669f2;
}

.homeScreen {
  background-color: #02020a;
  width: 100vw;
  height: 100vh;
}

.homeScreen__container {
  max-width: 1920px;
  background-image: url(e77950255e9296e8c3367e66069f8b39.png);
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.homeScreen__box {
  display: flex;
  margin-top: 60px;
  padding: 0 20px;
  width: 100%;
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1099px) {
  .homeScreen__box {
    justify-content: center;
  }
}

.homeScreen__left {
  margin-top: 120px;
}
@media (max-width: 1099px) {
  .homeScreen__left {
    display: none;
  }
}

.homeScreen__pokedex {
  width: 588px;
  height: 676px;
  background: #ff6b6b;
  border-radius: 48px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
}
@media (max-width: 424px) {
  .homeScreen__pokedex {
    width: 95%;
  }
}

@media (max-width: 449px) {
  .form_pokedex {
    flex-direction: column;
  }
}
@media (max-width: 449px) {
  .form_pokedex input {
    margin-bottom: 20px;
  }
}

.homeScreen_searchButton {
  width: 134px;
  height: 51px;
  outline: none;
  border: none;
  background: #0fa3b1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  cursor: pointer;
  font-size: 33px;
  line-height: 48px;
  color: #f8efef;
}
.homeScreen_searchButton:hover {
  background: #0b7882;
}

.homeScreen_searchButton_active {
  width: 134px;
  height: 51px;
  outline: none;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  cursor: pointer;
  font-size: 33px;
  line-height: 48px;
  color: #f8efef;
  background: #0b7882;
}

.pokedex_header {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  height: 70px;
}
@media (max-width: 349px) {
  .pokedex_header h1 {
    display: none;
  }
}
@media (max-width: 499px) {
  .pokedex_header .pokedex__icon {
    display: none;
  }
}

.pokedex_body {
  margin: 0 auto;
  width: 543px;
  height: 498px;
  background: #ffffff;
  border: 2px solid #000000;
  overflow-y: scroll;
}

.pokedex_footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 543px;
  height: 76px;
  background: #4ecdc4;
  border: 2px solid #000000;
  border-top: none;
}

.pokedex_footer_icon {
  font-size: 58px;
  line-height: 67px;
  color: #f7fff7;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}
.pokedex_footer_icon:hover {
  color: #91ff91;
}

.header___container {
  margin-top: 30px;
  width: 100vw;
  max-width: 1440px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header___container ul {
  font-size: 37px;
  line-height: 43px;
  /* identical to box height */
  color: #ffe500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  list-style: none;
}
@media (max-width: 980px) {
  .header___container ul {
    margin-bottom: 30px;
  }
}
.header___container ul li a {
  color: #ffe500;
  text-decoration: none;
}
.header___container ul li a:hover {
  color: #d6c000;
}
.header___container ul li:hover {
  color: #d6c000;
}
@media (max-width: 980px) {
  .header___container {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }
}

.header__home {
  display: none;
}
@media (max-width: 980px) {
  .header__home {
    display: block;
    margin-bottom: 20px;
  }
}

@media (max-width: 980px) {
  .header__logo {
    display: none;
  }
}

.header__favorites {
  font-size: 37px;
  line-height: 43px;
  height: fit-content;
  cursor: pointer;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}
.header__favorites a {
  text-decoration: none;
  color: #ffe500;
}
.header__favorites a:hover {
  color: #d6c000;
}

.header__info {
  font-size: 37px;
  line-height: 43px;
  cursor: pointer;
  color: #ffe500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: fit-content;
}
.header__info:hover {
  color: #d6c000;
}

.profile_image {
  width: 60px;
  border-radius: 50%;
}

.header__profile a {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 980px) {
  .header__profile {
    padding: 30px;
  }
}

@media (max-width: 639px) {
  .pokedex_body {
    width: 90%;
  }
}

.pokedex__grid {
  width: 100%;
  max-width: 543px;
  height: 100px;
  cursor: pointer;
  background: #ffffff;
  border: 2px solid #000000;
  border-top: none;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}
.pokedex__grid:hover {
  box-shadow: inset 0px 4px 10px 2px rgba(0, 0, 0, 0.25);
}
@media (max-width: 639px) {
  .pokedex__grid {
    width: 100%;
    padding: 0 5px;
  }
}

.pokedex__name-container {
  display: flex;
  align-items: center;
}
@media (max-width: 544px) {
  .pokedex__name-container h3 {
    font-size: 30px;
  }
}
@media (max-width: 459px) {
  .pokedex__name-container h3 {
    font-size: 25px;
  }
}
@media (max-width: 459px) {
  .pokedex__name-container h3 {
    font-size: 20px;
  }
}
@media (max-width: 319px) {
  .pokedex__name-container h3 {
    font-size: 15px;
  }
}

@media (max-width: 419px) {
  .pokedex__img img {
    width: 90%;
  }
}

.pokedex__title {
  font-size: 40px;
  margin-left: 15px;
  text-transform: capitalize;
  color: #000000;
}
@media (max-width: 419px) {
  .pokedex__title {
    margin-left: 0px;
  }
}

.pokedex__icon {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #c5b7b7;
}

@media (max-width: 434px) {
  .pokedex__led {
    display: none;
  }
}

.pokedex__icon_selected {
  color: #ffe500;
}

.pokedex_footer .far {
  cursor: pointer;
  font-size: 55px;
  color: #000000;
}
.pokedex_footer .far:hover {
  color: #4d4d4d;
}
@media (max-width: 639px) {
  .pokedex_footer {
    width: 90%;
  }
}

.pokedex__searchInput {
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  width: 178px;
  height: 34px;
  padding: 10px;
}

.form_pokedex {
  align-items: center;
  margin: 50px 0px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.pokedex_search_body {
  padding: 0px 10px;
}

.favorites__container {
  max-width: 1920px;
  background: #000 url(e77950255e9296e8c3367e66069f8b39.png);
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.favorites__listcontainer {
  margin-top: 60px;
  width: 95%;
  max-width: 500px;
  height: 600px;
  overflow-y: scroll;
  background-color: white;
  border: 1px solid black;
  margin-bottom: 30px;
}

.modalScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-transform: capitalize;
  flex-wrap: wrap;
  height: 80vh;
}
@media (max-width: 359px) {
  .modalScreen {
    flex-wrap: nowrap;
    padding-bottom: 10px;
  }
}

.modalScreen__container {
  display: flex;
}
@media (max-width: 359px) {
  .modalScreen__container {
    flex-direction: column;
    min-height: min-content;
    margin-bottom: 25px;
  }
}

.modalScreen__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalScreen__mini_images {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 359px) {
  .modalScreen__mini_images {
    display: none;
  }
}

.modalScreen__title {
  margin-bottom: 30px;
}
@media (max-width: 359px) {
  .modalScreen__title {
    margin-top: 340px;
  }
}

.modalScreen__img {
  margin-right: 10px;
}
@media (max-width: 359px) {
  .modalScreen__img {
    margin-top: 10px;
    margin-right: 0;
    margin: 0 auto;
  }
}

@media (max-width: 359px) {
  .modal_image {
    margin: 30px auto;
    width: 150px;
  }
}

.modalScreen__info {
  margin: 10px;
}
.modalScreen__info ul {
  list-style: none;
  margin-top: 5px;
}
.modalScreen__info ul li {
  margin-left: 20px;
}
.modalScreen__info ul li strong {
  font-size: 20px;
}

.modal_button {
  width: 150px;
  height: 75px;
}
@media (max-width: 359px) {
  .modal_button {
    width: 100px;
    font-size: 24px;
  }
}

.loadingScreen__container {
  width: 100vw;
  height: 100vh;
  background: #000 url(e77950255e9296e8c3367e66069f8b39.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  font-family: "DotGothic16", sans-serif;
  box-sizing: border-box;
}

/*# sourceMappingURL=main.css.map*/