// Colors
$button1: #e96464;
$button2: #0fa3b1;

$pokedex: #ff6b6b;
$footer-pokedex: #4ecdc4;

$yellow-nav: #ffe500;

$modal: #f7fff7;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
